{% extends "base.html" %}

{% block script-extras-page %}
	<link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-1.9.2/development-bundle/external/qunit.css">
	<script src="{{STATIC_URL}}jquery-ui-1.9.2/development-bundle/external/qunit.js"></script>
	<script src="{% url 'wind.views.windjs' %}"></script>
	<script src="{{STATIC_URL}}wind/test.js"></script>
	<script>
		var aliceSession = '{{ alice.session_key }}';
		var bobSession = '{{ bob.session_key }}';
		runWindTests();
	</script>
{% endblock %}

{% block page-view %}
	<h1>Test Wind</h1>
	<div id="qunit"></div>
	<div id="qunit-fixture" />
{% endblock %}