{% extends "base.html" %}

{% block script-extras-page %}
	<script src="{% url 'wind.views.windjs' %}"></script>

	<script>
	var windClient = null;
	$(document).ready(function(){
		windClient = new Wind.Client();
		windClient.openHandler = handleOpen;
		windClient.closeHandler = handleClose;
		windClient.authenticationHandler = handleAuthentication;
		windClient.subscriptionHandler = handleSubscription;
		windClient.appEventHandler = appEventHandler;
		windClient.open();
	});

	function handleOpen(){ windClient.authenticate(); }

	function handleAuthentication(success){
		if(!success){
			console.log('Could not authenticate');
			return;
		}
		windClient.createChannel(null, 'test_channel');
		windClient.subscribe('test_channel');
	};

	function handleSubscription(channel_id, joined, is_member, is_admin, is_editor){
		console.log('Subscription response:', arguments);
	}

	function appEventHandler(event){
		switch(event.type) {
			case 'SomeEventType':
				break;
			default:
				console.log("Unhandled event", event);
		}
	}

	function handleClose(){ console.log("Wind Client Closed"); }
	</script>
{% endblock %}

{% block page-view %}
	<h1>Test Wind</h1>
{% endblock %}