{% extends "base.html" %}

{% block script-extras-page %}
	<link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-1.9.2/development-bundle/external/qunit.css">
	<script src="{{STATIC_URL}}jquery-ui-1.9.2/development-bundle/external/qunit.js"></script>
	<script src="{% url 'wind.views.windjs' %}"></script>
	<script>
		var aliceSession = '{{ alice.session_key }}';
		var bobSession = '{{ bob.session_key }}';

		asyncTest('Open and close', function(){
			var windClient = new Wind.Client(aliceSession);
			windClient.openHandler = handleOpen;
			windClient.closeHandler = handleClose;
			windClient.authenticationHandler = handleAuthentication;
			windClient.subscriptionHandler = handleSubscription;
			windClient.appEventHandler = appEventHandler;
			windClient.open();

			function handleOpen(){
				windClient.authenticate();
			}

			var readyForClose = false;
			function handleClose(){
				ok(readyForClose, "Closed at the appropriate time.");
				start();
			}

			function handleAuthentication(success){
				ok(success, 'Authenticated');
				windClient.createChannel(null, 'test_channel');
				windClient.subscribe('test_channel');
			};

			function handleSubscription(channel_id, joined, is_member, is_admin, is_editor){
				ok(joined, 'Joined channel ' + channel_id);
				readyForClose = true;
				windClient.close();
			}

			function appEventHandler(event){
				switch(event.type) {
					case 'ChannelExists':
					case 'ChannelCreated':
						break;
					default:
						console.log("Unhandled event", event);
				}
			}
		});

		asyncTest('Echo messaging', function(){
			// This test creates two clients for alice (who is staff) and bob, both subscribed to a test channel
			// Then alice sends an echo request, 'Foo', then bob sends 'Bar', then alice sends 'Terminal'
			// This test ensures that each client only gets their own echos.

			var windClient = null;
			var bobWindClient = null;
			var echoMessage = 'Foo';
			var bobEchoMessage = 'Bar';
			var terminalMessage = 'Terminal';
			var readyForClose = false;
			function createCallback(clients){
				ok(clients.length == 2, 'Received wind clients: ' + clients);
				windClient = clients[0];
				windClient.appEventHandler = appEventHandler;

				bobWindClient = clients[1];
				bobWindClient.appEventHandler = bobEventHandler;

				windClient.sendEvent(new Wind.Events.EchoRequest(echoMessage));
				windClient.closeHandler = function(){
					ok(readyForClose, 'Ready for close');
					start();
				}
			}
			function appEventHandler(event){
				switch(event.type){
					case Wind.Events.EchoResponse.prototype.name:
						ok(event, 'Received echo response');
						if(event.message == echoMessage){
							bobWindClient.sendEvent(new Wind.Events.EchoRequest(bobEchoMessage));
							return;
						} else if(event.message == terminalMessage){
							readyForClose = true;
							windClient.close();
							return;
						} else {
							ok(false, 'Received unknown echo: ' + event.message);
						}
						break;
					default:
						console.log('Unhandled event', event);
				}
			}
			function bobEventHandler(event){
				switch(event.type){
					case Wind.Events.EchoResponse.prototype.name:
						ok(event, 'Received echo response');
						ok(event.message == bobEchoMessage, 'Bob received appropriate echo: ' + echoMessage);
						windClient.sendEvent(new Wind.Events.EchoRequest(terminalMessage));
						break;
					default:
						console.log('Unhandled event', event);
				}
			}
			createAndSubscribe([aliceSession, bobSession], 'test_messaging', createCallback, true);
		});

		function createAndSubscribe(sessionKeyArray, channelId, callback, createChannel){
			// Create a client for each session key in sessionKeyArray and subscribe it to channelId
			// Then call callback with an array of clients
			// If createChannel is true, the first sessionKey must be for a staff account, or the channel creation will fail
			var results = [];
			function subscribeCallback(client){
				results[results.length] = client;
				if(sessionKeyArray.length == results.length){
					callback(results);
					return;
				}
				createAndSubscribeOne(sessionKeyArray[results.length], channelId, subscribeCallback, false);
			}
			createAndSubscribeOne(sessionKeyArray[0], channelId, subscribeCallback, createChannel);
		}

		function createAndSubscribeOne(sessionKey, channelId, callback, createChannel){
			// Creates a Wind.Client, opens a connection, and attempts to subscribe to a channel
			var windClient = new Wind.Client(sessionKey);

			windClient.openHandler = function() {
				windClient.authenticate();
			};

			windClient.closeHandler = function(){
				ok(false, 'Should not have closed.');
			}			

			windClient.appEventHandler = function(event){
				switch(event.type) {
					case 'ChannelExists':
					case 'ChannelCreated':
						break;
					default:
						console.log("Unhandled event", event);
				}
			}

			windClient.authenticationHandler = function(success){
				ok(success, 'Authenticated');
				if(createChannel){
					windClient.createChannel(null, channelId);
				}
				windClient.subscribe(channelId);
			};

			windClient.subscriptionHandler = function(channel_id, joined, is_member, is_admin, is_editor){
				ok(joined, 'Joined channel ' + channel_id);
				windClient.closeHandler = function(){ console.log('Closed')};
				windClient.appEventHandler = function(){ console.log("Unhandled event", event); }
				callback(windClient);
			};
			windClient.open();
		}
	</script>
{% endblock %}

{% block page-view %}
	<h1>Test Wind</h1>
	<div id="qunit"></div>
	<div id="qunit-fixture" />
{% endblock %}